* {
	border: none;
}

#container {
	float: left;
}

#header {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
	margin-bottom: 10px;
}

ul li a {
	font-size: 16px;
}

a {
	text-decoration: none;
}

#main {
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
}

ul#album-list {
	list-style: none;
	margin-left: 0px;
}

	ul#album-list li {
		height: 130px;
		width: 100px;
		float: left;
		margin: 10px;
		text-align: center;
	}

		ul#album-list li a, ul#album-list li .button {
			font-size: 13px;
			float: left;
		}

			ul#album-list li a span {
				color: #9b9993;
				text-decoration: underline;
			}

#cart {
	float: right;
}

#update-message {
	color: #F6855E;
	font-weight: bold;
}

#footer {
	clear: both;
	text-align: right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/********************* End top navigation ***************************/

p {
	margin-bottom: 15px;
	margin-top: 0px;
}

h2 {
	color: #5e5b54;
}

h3 {
	color: #9B9993;
}

	#header h1 a, h3 em {
		color: #5E5B54;
	}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #006633;
	text-decoration: none;
	font-weight: bold;
}

/* Form styles */

legend {
	padding: 10px;
	font-weight: bold;
}

fieldset {
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field {
	margin-bottom: 10px;
}

input[type=text], input[type=password], input[type=email], select {
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */

.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

/* Animation Icon */

.glyphicon {
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: all 800ms ease-in-out;
}

	.glyphicon:hover {
		-ms-transform: rotate(360deg); /* IE 9 */
		-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
		transform: rotate(360deg);
	}

/* Details */

#album-details {
}

	#album-details .center {
		text-align: center;
		display: block;
		width: 25%;
	}
