@{
	ViewBag.Title = "Giới thiệu";
	ViewBag.Message = "Thành viên nhóm";
}
<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

<div class="list-group li">
	<table class="table table-hover table-borderless">
		<tr><td>Lê Thùy Lan Chi</td></tr>
		<tr><td>Nguyễn Thị Linh</td></tr>
		<tr><td>Nguyễn Thị Bích Ngọc</td></tr>
		<tr><td>Nguyễn Bùi Bảo Quyên</td></tr>
		<tr><td>La Quốc Thắng</td></tr>
	</table>
</div>