@{
	ViewBag.Title = "Giới thiệu";
	ViewBag.Message = "Thành viên nhóm";
}
<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

<div class="list-group li">
	<ul>
		<li class="list-group-item list-group-item-action">Lê Thùy Lan Chi</li>
		<li class="list-group-item list-group-item-action">Nguyễn Thị Linh</li>
		<li class="list-group-item list-group-item-action">Nguyễn Thị Bích Ngọc</li>
		<li class="list-group-item list-group-item-action">Nguyễn Bùi Bảo Quyên</li>
		<li class="list-group-item list-group-item-action">La Quốc Thắng</li>
	</ul>
</div>