@{
	ViewBag.Title = "Giới thiệu";
	ViewBag.Message = "Thành viên nhóm";
}
<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

<div class="list-group">
	<ul>
		<li class="list-group-item">Lê Thùy Lan Chi</li>
		<li class="list-group-item">Nguyễn Thị Linh</li>
		<li class="list-group-item">Nguyễn Thị Bích Ngọc</li>
		<li class="list-group-item">Nguyễn Bùi Bảo Quyên</li>
		<li class="list-group-item">La Quốc Thắng</li>
	</ul>
</div>