@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
	Khoa Công nghệ Thông tin, trường Đại học Đà Lạt<br />
	Số 1, đường Phù Đổng Thiên Vương, Phường 8, Tp. Đà Lạt, Lâm Đồng<br />
	<abbr title="Phone">Điện thoại:</abbr>
	(+84) 633.822.246 - (+84) 633.823.380
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@dlu.edu.vn">info@dlu.edu.vn</a><br />
    <strong>Website:</strong> <a href="http://www.dlu.edu.vn">http://www.dlu.edu.vn</a>
</address>