@{
	ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title</h2>

<h5>Địa chỉ</h5>
<address>
	Khoa Công nghệ Thông tin, trường Đại học Đà Lạt<br />
	Số 1, đường Phù Đổng Thiên Vương, Phường 8, Tp. Đà Lạt, Lâm Đồng<br />
	<abbr title="Phone">Điện thoại:</abbr>
	(+84) 633.822.246 - (+84) 633.823.380
</address>

<address>
	<strong>Email:</strong>   <a href="mailto:info@dlu.edu.vn">info@dlu.edu.vn</a><br />
	<strong>Website:</strong> <a href="http://www.dlu.edu.vn">http://www.dlu.edu.vn</a>
</address>

<h5>Bản đồ</h5>
<div class="container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15613.15146326695!2d108.4442049!3d11.9545604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112d959f88991%3A0x9c66baf1767356fa!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyDEkMOgIEzhuqF0!5e0!3m2!1svi!2s!4v1572873249628!5m2!1svi!2s" width="100%" height="100%" frameborder="0"  style="position:absolute; top:0; left: 0;" allowfullscreen=""></iframe>
</div>