@model IEnumerable<MVCMusicStore.Models.Album>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Index";
}

<img src="~/Content/Images/home-showcase.png" alt="" class="img-fluid"/>
<h3>
	<em>Tuôn trào</em> sức sống với những bản nhạc hot nhất
</h3>
<ul id="album-list">
	@foreach (var album in Model)
	{
		<li>
			<a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
				<img alt="@album.Title" src="@album.AlbumArtUrl" />
				<span>@album.Title</span>
			</a>
		</li>
	}
</ul>