@model IEnumerable<MVCMusicStore.Models.Genre>

<ul style="list-style-type:none;">
	@foreach (var genre in Model)
	{
		<li>
			@Html.ActionLink(genre.Name, "Browse", "Store", new { Genre = genre.Name }, new { @class = "list-group-item list-group-item-action bg-light" })
		</li>
	}
</ul>