@model IEnumerable<MVCMusicStore.Models.Genre>

@{
	ViewBag.Title = "Index";
}

<h2>Duyệt qua các thể loại</h2>
<p>Chọn một trong @Model.Count() thể loại sau:</p>
<ul class="list-group">
	@foreach (var genre in Model)
	{
		<li class="list-group-item">@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
	}
</ul>

