@model IEnumerable<MVCMusicStore.Models.Genre>

@{
	ViewBag.Title = "Index";
}

<h3>Duyệt qua các thể loại</h3>
<p>Chọn một trong @Model.Count() thể loại sau:</p>
<ul>
	@foreach (var genre in Model)
	{
		//<a href="/Store/Browse?genre=@genre.Name">@genre.Name</a>
		<li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
	}
</ul>

